@tailwind base;
@tailwind components;
@tailwind utilities;

#div{
    display: flex;
    width: 60%;
    text-align: left;
    /* font-size: 3rem; */
}
.containerWelcome{
    display: flex;
    justify-content: center;
}